<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.renaghan.launchbar.Things</string>
	<key>CFBundleName</key>
	<string>Things To Do</string>
	<key>LBAbbreviation</key>
	<string>things todo task</string> 
	<key>CFBundleVersion</key>
	<string>3.2</string>
	<key>CFBundleIconFile</key>
  <string>font-awesome:fa-inbox</string>
  <key>LBAssociatedApplication</key>
  <string>com.culturedcode.things</string>
  <key>LBARequiredApplication</key>
  <string>com.culturedcode.things</string>
  <key>LBTextInputTitle</key>
  <string>New To Do</string>
	<key>LBDebugLogEnabled</key>
	<true/>
	<key>LBMinimumLaunchBarVersion</key>
	<integer>6121</integer>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBScriptName</key>
			<string>things.scpt</string>
      <key>LBKeepWindowActive</key>
      <true/>
			<key>LBRunInBackground</key>
			<false/>
			<key>LBRequiresArgument</key>
			<false/>
			<key>LBAcceptedArgumentTypes</key>
			<array>
			  <string>string</string>
			  <string>path</string>
			</array>
			<key>LBReturnsResult</key>
			<true/>
		</dict>
	</dict>
	<key>LBDescription</key>
	<dict>
		<key>LBSummary</key>
		<string>LaunchBar action integration with Things To Do Mac application from Cultured Code</string>
		<key>LBRequirements</key>
		<string>Things Application http://culturedcode.com/things/</string>
		<key>LBAuthor</key>
		<string>Padraic Renaghan</string>
		<key>LBEmail</key>
		<string>prenagha@renaghan.com</string>
		<key>LBWebsiteURL</key>
		<string>https://prenagha.github.io/launchbar/things.html</string>
		<key>LBTwitter</key>
		<string>@prenagha</string>
		<key>LBArgument</key>
		<string>Text of new to do to create</string>
	  <key>LBUpdateURL</key>
	  <string>https://raw.githubusercontent.com/prenagha/launchbar/master/Things.lbaction/Contents/Info.plist</string>
	  <key>LBDownloadURL</key>
	  <string>https://minhaskamal.github.io/DownGit/#/home?url=https://github.com/prenagha/launchbar/tree/main/Things.lbaction</string>
	  <key>LBChangelog</key>
	  <string>
	    3.2: Fix download URL
	    3.0: Update for Things 3
	    2.2: View URL for URL in notes of todo
	    2.1: Support action updates
	  </string>
	</dict>
</dict>
</plist>
