<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.renaghan.launchbar.TweetLink</string>
	<key>CFBundleName</key>
	<string>Tweet Link</string>
	<key>CFBundleVersion</key>
	<string>2.1</string>
	<key>CFBundleIconFile</key>
	<string>font-awesome:fa-twitter</string>
	<key>LBDebugLogEnabled</key>
	<true/>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBScriptName</key>
			<string>tweet.js</string>
			<key>LBRunInBackground</key>
			<false/>
			<key>LBRequiresArgument</key>
			<false/>
			<key>LBReturnsResult</key>
			<false/>
		</dict>
	</dict>
	<key>LBDescription</key>
	<dict>
		<key>LBSummary</key>
		<string>Tweet the URL from current Safari tab using Tweetbot</string>
		<key>LBRequiredApplication</key>
		<string>com.tapbots.TweetbotMac</string>
		<key>LBAuthor</key>
		<string>Padraic Renaghan</string>
		<key>LBEmail</key>
		<string>prenagha@renaghan.com</string>
		<key>LBWebsiteURL</key>
		<string>https://prenagha.github.io/launchbar/tweetlink.html</string>
		<key>LBTwitter</key>
		<string>@prenagha</string>
	  <key>LBUpdateURL</key>
	  <string>https://raw.githubusercontent.com/prenagha/launchbar/master/Tweet%20Link.lbaction/Contents/Info.plist</string>
	  <key>LBDownloadURL</key>
	  <string>https://s3.amazonaws.com/public-launchbar-download/Tweet%20Link.lbaction</string>
	  <key>LBChangelog</key>
	  <string>
	    2.0: LaunchBar built-in twitter action removed, so changed this action to use Tweetbot
	    1.0: Initial release
	  </string>
	</dict>
</dict>
</plist>
