<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.renaghan.launchbar.Reboot</string>
	<key>CFBundleName</key>
	<string>Reboot</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CFBundleIconFile</key>
	<string>font-awesome:fa-power-off</string>
	<key>LBAbbreviation</key>
	<string>Restart</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBScriptName</key>
			<string>reboot.sh</string>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBRequiresArgument</key>
			<false/>
		</dict>
	</dict>
	<key>LBDescription</key>
	<dict>
		<key>LBSummary</key>
		<string>Immediately execute an authenticated restart. If FileVault is enabled on the boot volume an authenticated restart will bypass the FileVault authentication and move directly to user login. Very useful for clamshell type mode where main laptop screen is closed/off. Note: this action executes a script which uses sudo - you need to have sudo setup to run this command passwordless, you also need to have your password plist file setup as ~/rbt.plist</string>
		<key>LBAuthor</key>
		<string>Padraic Renaghan</string>
		<key>LBEmail</key>
		<string>prenagha@renaghan.com</string>
		<key>LBWebsiteURL</key>
		<string>https://prenagha.github.io/launchbar/reboot.html</string>
		<key>LBTwitter</key>
		<string>@prenagha</string>
	  <key>LBUpdateURL</key>
	  <string>https://raw.githubusercontent.com/prenagha/launchbar/master/Reboot.lbaction/Contents/Info.plist</string>
	  <key>LBDownloadURL</key>
	  <string>https://s3.amazonaws.com/public-launchbar-download/Reboot.lbaction</string>
	  <key>LBChangelog</key>
	  <string>
	    1.0: Initial release
	  </string>
	</dict>
</dict>
</plist>
