<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.renaghan.launchbar.ExpandURL</string>
	<key>CFBundleName</key>
	<string>Expand URL</string>
	<key>CFBundleVersion</key>
	<string>2.1</string>
	<key>CFBundleIconFile</key>
	<string>URL.icns</string>
	<key>LBDebugLogEnabled</key>
	<false/>
	<key>LBTextInputTitle</key>
	<string>URL</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBScriptName</key>
			<string>default.js</string>
			<key>LBRunInBackground</key>
			<false/>
			<key>LBRequiresArgument</key>
			<false/>
			<key>LBAcceptedArgumentTypes</key>
			<array>
			  <string>string</string>
			</array>
			<key>LBReturnsResult</key>
			<true/>
		</dict>
	</dict>
	<key>LBDescription</key>
	<dict>
		<key>LBSummary</key>
		<string>Expand a short URL. Follows the URL and returns the last Location HTTP header which will point to the real URL. Returns URL back to LaunchBar.</string>
		<key>LBRequirements</key>
		<string>curl</string>
		<key>LBAuthor</key>
		<string>Padraic Renaghan</string>
		<key>LBEmail</key>
		<string>prenagha@renaghan.com</string>
		<key>LBWebsite</key>
		<string>https://github.com/prenagha/launchbar</string>
		<key>LBTwitter</key>
		<string>@prenagha</string>
		<key>LBArgument</key>
		<string>URL to expand</string>
	</dict>
</dict>
</plist>
