<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.renaghan.launchbar.ShareSafariLink</string>
	<key>CFBundleName</key>
	<string>Share Safari Link</string>
	<key>CFBundleVersion</key>
	<string>3.1</string>
	<key>CFBundleIconFile</key>
	<string>com.apple.Safari</string>
	<key>LBDebugLogEnabled</key>
	<true/>
	<key>LBRequiredApplication</key>
	<string>com.apple.Safari</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBScriptName</key>
			<string>share.scpt</string>
			<key>LBRunInBackground</key>
			<false/>
			<key>LBRequiresArgument</key>
			<false/>
			<key>LBReturnsResult</key>
			<true/>
		</dict>
	</dict>
	<key>LBDescription</key>
	<dict>
		<key>LBSummary</key>
		<string>Grab the URL and Title of the currently selected tab in Safari and return it in text form suitable for sending via email.</string>
		<key>LBAuthor</key>
		<string>Padraic Renaghan</string>
		<key>LBEmail</key>
		<string>prenagha@renaghan.com</string>
		<key>LBWebsite</key>
		<string>https://github.com/prenagha/launchbar</string>
		<key>LBTwitter</key>
		<string>@prenagha</string>
		<key>LBResult</key>
		<string>URL and Title of selected tab in Safari</string>
	  <key>LBUpdate</key>
	  <string>https://raw.githubusercontent.com/prenagha/launchbar/master/Share Safari Link.lbaction/Contents/Info.plist</string>
	  <key>LBDownload</key>
	  <string>https://dl.dropboxusercontent.com/u/1094926/lbdist/Share Safari Link.lbaction</string>
	</dict>
</dict>
</plist>
