<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.renaghan.launchbar.Caffeinate</string>
	<key>CFBundleName</key>
	<string>Caffeinate</string>
	<key>CFBundleVersion</key>
	<string>2.2</string>
	<key>CFBundleIconFile</key>
	<string>Coffee.icns</string>
	<key>LBDebugLogEnabled</key>
	<true/>
	<key>LBTextInputTitle</key>
	<string>Duration e.g. 0/10m/2h</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBScriptName</key>
			<string>default.sh</string>
			<key>LBRunInBackground</key>
			<false/>
			<key>LBRequiresArgument</key>
			<false/>
			<key>LBAcceptedArgumentTypes</key>
			<array>
			  <string>string</string>
			</array>
			<key>LBReturnsResult</key>
			<true/>
		</dict>
	</dict>
	<key>LBDescription</key>
	<dict>
		<key>LBSummary</key>
		<string>Keep system awake, as caffeine does, for a specified period of time. Uses built in system caffeinate command.</string>
		<key>LBAuthor</key>
		<string>Padraic Renaghan</string>
		<key>LBEmail</key>
		<string>prenagha@renaghan.com</string>
		<key>LBWebsite</key>
		<string>https://github.com/prenagha/launchbar</string>
		<key>LBTwitter</key>
		<string>@prenagha</string>
		<key>LBArgument</key>
		<string>Duration to stay awake, e.g. "10m", "2h". Hours by default. Use "0" to caffeinate forever.</string>
	</dict>
</dict>
</plist>
