<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.renaghan.launchbar.Caffeinate</string>
	<key>CFBundleName</key>
	<string>Caffeinate</string>
	<key>CFBundleVersion</key>
	<string>4.1</string>
	<key>CFBundleIconFile</key>
	<string>font-awesome:fa-coffee</string>
	<key>LBDebugLogEnabled</key>
	<true/>
	<key>LBTextInputTitle</key>
	<string>Duration e.g. 0/10m/2h</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBScriptName</key>
			<string>caffeinate.sh</string>
			<key>LBRunInBackground</key>
			<false/>
			<key>LBRequiresArgument</key>
			<false/>
			<key>LBAcceptedArgumentTypes</key>
			<array>
			  <string>string</string>
			</array>
			<key>LBReturnsResult</key>
			<true/>
		</dict>
	</dict>
	<key>LBDescription</key>
	<dict>
		<key>LBSummary</key>
		<string>Keep system awake, as caffeine does, for a specified period of time. Uses built in system caffeinate command.</string>
		<key>LBAuthor</key>
		<string>Padraic Renaghan</string>
		<key>LBEmail</key>
		<string>prenagha@renaghan.com</string>
		<key>LBWebsiteURL</key>
		<string>https://prenagha.github.io/launchbar/caffeinate.html</string>
		<key>LBTwitter</key>
		<string>@prenagha</string>
		<key>LBArgument</key>
		<string>Duration to stay awake, e.g. "10m", "2h". Hours by default. Use "0" to caffeinate forever.</string>
	  <key>LBUpdateURL</key>
	  <string>https://raw.githubusercontent.com/prenagha/launchbar/master/Caffeinate.lbaction/Contents/Info.plist</string>
	  <key>LBDownloadURL</key>
	  <string>https://s3.amazonaws.com/public-launchbar-download/Caffeinate.lbaction</string>
	  <key>LBChangelog</key>
	  <string>
	    4.0: More aggressive use of caffeinate, changed -u to -dimsu
	    3.2: Fix search for existing caffeinate
	  </string>
	</dict>
</dict>
</plist>
