<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.renaghan.launchbar.Screenshot</string>
	<key>CFBundleName</key>
	<string>Screenshot</string>
	<key>CFBundleVersion</key>
	<string>3.6</string>
	<key>CFBundleIconFile</key>
	<string>font-awesome:fa-camera</string>
	<key>LBDebugLogEnabled</key>
	<true/>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBScriptName</key>
			<string>screenshot.js</string>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBRequiresArgument</key>
			<false/>
			<key>LBReturnsResult</key>
			<false/>
		</dict>
	</dict>
	<key>LBDescription</key>
	<dict>
		<key>LBSummary</key>
		<string>Capture a screenshot, save it to ~/Downloads folder as original and
		optimized with ImageAlpha, then pass optimized version back to LaunchBar for 
		sending to another action</string>
		<key>LBRequirements</key>
		<string>ImageAlpha http://pngmini.com</string>
		<key>LBAuthor</key>
		<string>Padraic Renaghan</string>
		<key>LBEmail</key>
		<string>prenagha@renaghan.com</string>
		<key>LBWebsiteURL</key>
		<string>https://prenagha.github.io/launchbar/screenshot.html</string>
		<key>LBTwitter</key>
		<string>@prenagha</string>
		<key>LBResult</key>
		<string>Screenshot file optimized through ImageAlpha</string>
	  <key>LBUpdateURL</key>
	  <string>https://raw.githubusercontent.com/prenagha/launchbar/master/Screenshot.lbaction/Contents/Info.plist</string>
	  <key>LBDownloadURL</key>
	  <string>https://s3.amazonaws.com/public-launchbar-download/Screenshot.lbaction</string>
	  <key>LBChangelog</key>
	  <string>
	    3.5: Fix trash and img copy code
	    3.4: No error on missing screenshot, original moved to trash
	    3.3: Changed image copy to swift
	    3.2: Automatically copy image to clipboard
	    Support action updates
	  </string>
	</dict>
</dict>
</plist>
