<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.renaghan.launchbar.Recents</string>
	<key>CFBundleName</key>
	<string>Recent Files</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>CFBundleIconFile</key>
  <string>font-awesome:fa-clock-o</string>
	<key>LBDebugLogEnabled</key>
	<true/>
	<key>LBMinimumLaunchBarVersion</key>
	<integer>6121</integer>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBScriptName</key>
			<string>recents.js</string>
			<key>LBRunInBackground</key>
			<false/>
			<key>LBRequiresArgument</key>
			<false/>
			<key>LBReturnsResult</key>
			<true/>
		</dict>
	</dict>
	<key>LBDescription</key>
	<dict>
		<key>LBSummary</key>
		<string>LaunchBar action integration to return result of recently used files from Smart Folder/Saved Search</string>
		<key>LBRequirements</key>
		<string>Smart Folder/Saved Search http://www.macworld.com/article/1154709/business/smartfolders.html</string>
		<key>LBAuthor</key>
		<string>Padraic Renaghan</string>
		<key>LBEmail</key>
		<string>prenagha@renaghan.com</string>
		<key>LBWebsiteURL</key>
		<string>https://prenagha.github.io/launchbar/recents.html</string>
		<key>LBTwitter</key>
		<string>@prenagha</string>
	  <key>LBUpdateURL</key>
	  <string>https://raw.githubusercontent.com/prenagha/launchbar/master/Recents.lbaction/Contents/Info.plist</string>
	  <key>LBDownloadURL</key>
	  <string>https://minhaskamal.github.io/DownGit/#/home?url=https://github.com/prenagha/launchbar/tree/main/Recents.lbaction</string>
	  <key>LBChangelog</key>
	  <string>
	    1.2: Fix download URL
	    1.0: Initial Build
	  </string>
	</dict>
</dict>
</plist>
