<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.renaghan.launchbar.Timer</string>
	<key>CFBundleName</key>
	<string>Set a Timer</string>
	<key>CFBundleVersion</key>
	<string>3.2</string>
	<key>CFBundleIconFile</key>
	<string>font-awesome:fa-clock-o</string>
	<key>LBDebugLogEnabled</key>
	<true/>
	<key>LBTextInputTitle</key>
	<string>Reminder [when]</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBScriptName</key>
			<string>timer.js</string>
			<key>LBRunInBackground</key>
			<false/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBAcceptedArgumentTypes</key>
			<array>
			  <string>string</string>
			</array>
			<key>LBReturnsResult</key>
			<true/>
		</dict>
	</dict>
	<key>LBDescription</key>
	<dict>
		<key>LBSummary</key>
		<string>Create a timer to remind you of something later. Like "Turn off oven 15m". LaunchBar will create the reminder then after the delay time it will show you the reminder text as a large message with an accompanying sound.</string>
		<key>LBAuthor</key>
		<string>Padraic Renaghan</string>
		<key>LBEmail</key>
		<string>prenagha@renaghan.com</string>
		<key>LBWebsiteURL</key>
		<string>https://prenagha.github.io/launchbar/timer.html</string>
		<key>LBTwitter</key>
		<string>@prenagha</string>
		<key>LBArgument</key>
		<string>Reminder text in the form of "[reminder message] [delay]". Delay a string like 1m, 2m30s, 4h...</string>
	  <key>LBUpdateURL</key>
	  <string>https://raw.githubusercontent.com/prenagha/launchbar/master/Timer.lbaction/Contents/Info.plist</string>
	  <key>LBDownloadURL</key>
	  <string>https://s3.amazonaws.com/public-launchbar-download/Timer.lbaction</string>
	  <key>LBChangelog</key>
	  <string>
	    Support action updates
	  </string>
	</dict>
</dict>
</plist>
