<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.renaghan.launchbar.Dropshare</string>
	<key>CFBundleName</key>
	<string>Share with Dropshare</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CFBundleIconFile</key>
	<string>font-awesome:fa-share</string>
	<key>LBDebugLogEnabled</key>
	<true/>
	<key>LBRequiredApplication</key>
	<string>net.mkswap.Dropshare4</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBScriptName</key>
			<string>share.js</string>
			<key>LBRunInBackground</key>
			<false/>
			<key>LBRequiresArgument</key>
			<false/>
			<key>LBAcceptedArgumentTypes</key>
			<array>
			  <string>string</string>
			  <string>path</string>
			</array>
			<key>LBAllowsInstantReuseOfLastTextInputString</key>
			<true/>
			<key>LBReturnsResult</key>
			<true/>
		</dict>
	</dict>
	<key>LBDescription</key>
	<dict>
		<key>LBSummary</key>
		<string>Share a file via the Dropshare application.</string>
		<key>LBRequirements</key>
		<string>Dropshare 4 application running on this Mac. https://getdropsha.re</string>
		<key>LBAuthor</key>
		<string>Padraic Renaghan</string>
		<key>LBEmail</key>
		<string>prenagha@renaghan.com</string>
		<key>LBWebsiteURL</key>
		<string>https://prenagha.github.io/launchbar/dropshare.html</string>
		<key>LBTwitter</key>
		<string>@prenagha</string>
		<key>LBArgument</key>
		<string>Selected file in LaunchBar</string>
	  <key>LBUpdateURL</key>
	  <string>https://raw.githubusercontent.com/prenagha/launchbar/master/Dropshare.lbaction/Contents/Info.plist</string>
	  <key>LBDownloadURL</key>
	  <string>https://s3.amazonaws.com/renaghan/lbdist/Dropshare.lbaction</string>
	  <key>LBChangelog</key>
	  <string>
	    1.1: Zip if multiple files
	  </string>
	</dict>
</dict>
</plist>
